name: Deploy Discord Bot

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [main]
    paths:
      - "apps/discord/**"
      - "package.json"
      - "package-lock.json"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/discord-nest/Dockerfile
          push: true
          tags: ghcr.io/${{ github.actor }}/scrubjay-discord:latest
