name: Publish Docker Image(s)

permissions:
  contents: read
  packages: write

on:
  release:
    types: [released]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/scrubjay/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/scrubjay-discord:latest
            ghcr.io/${{ github.repository_owner }}/scrubjay-discord:${{ github.event.release.tag_name }}
